! special
*.foreground:   #d5cfdb
*.background:   #0d0910
*.cursorColor:  #d5cfdb

! black
*.color0:       #16111a
*.color8:       #2ea28b

! red
*.color1:       #9893ae
*.color9:       #fe9bc1

! green
*.color2:       #b1a577
*.color10:      #c48ceb

! yellow
*.color3:       #4d4157
*.color11:      #6f942e

! blue
*.color4:       #6e5e7b
*.color12:      #1db0de

! magenta
*.color5:       #9382a1
*.color13:      #eb94b5

! cyan
*.color6:       #b9aec2
*.color14:      #1d99c2

! white
*.color7:       #e5e1e8
*.color15:      #26ae95


!! URxvt Appearence
URxvt*font: xft:hack:size=15, xft:FontAwesome:pixelsize=11, xft:Font Awesome 5 Free Regular:pixelsize=11, xft:Font Awesome 5 Free Solid:pixelsize=11, xft:Font Awesome 5 Brands:pixelsize=11
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt.internalBorder: 0

!! URxvt behavior

!Copy-paste
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard
