!! Colorscheme

! special
*.foreground:   #1b1d1f
*.background:   #bfbba5
*.cursorColor:  #1b1d1f

! black
*.color0:       #000000
*.color8:       #343131

! red
*.color1:       #000000
*.color9:       #de4b4b

! green
*.color2:       #e5dad3
*.color10:      #e6e6e6

! yellow
*.color3:       #cd4f1a
*.color11:      #f0c674

! blue
*.color4:       #4b4b4b
*.color12:      #d35a77

! magenta
*.color5:       #f2e5be
*.color13:      #b294bb

! cyan
*.color6:       #2c504b
*.color14:      #c64559

! white
*.color7:       #000000
*.color15:      #1e1e1e

!! URxvt Appearence
URxvt*font: xft: Phatone:pixelsize=10:antialias=true:hinting=true
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.cursorBlink: true
URxvt.depth: 24
URxvt.iso14755: false
